# Virtual environment
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Vector database (heavy files)
vectorstore/


# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit cache
.streamlit/

# Secrets / keys
.env
