# LangChain Core
langchain
langchain-core
langchain_community
sentence_transformers
PyPDF2
pypdf
chromadb
faiss-cpu

# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Web Framework
streamlit

# Machine Learning Utilities
numpy
pandas
scikit-learn
sentence-transformers
ipykernel
bs4
beautifulsoup4
langchain-groq